.Rproj.user
.Rhistory
.RData
.Ruserdata
~*
.Rdata
.httr-oauth
.DS_Store
.quarto
datos/datos_originales/SICVIR_SUBDERE_28Ene2025.xlsx
datos/sicvir_indicadores_rurales_2025*
datos/sicvir_etiquetas_2025*